.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img{
  border-radius: 10px;
}

.img-wrapper{
  position: relative;
}

.img-wrapper > h3 {
  position: absolute;
  inset: 0;
  margin: 0;
  background: rgba(255, 255, 255, .4);
  display: flex;
  justify-content: center;
  align-items:center ;
}

.img-wrapper > img,
.img-wrapper > h3,
.img-wrapper > a {
  transition: 200ms ease-in-out;
}

.img-wrapper > h3.fade {
  opacity: 0;
}

.img-wrapper:hover > h3.fade {
  opacity: 1;
}

.img-wrapper:hover > img {
  filter: blur(1px);
}

.img-wrapper > a.fade {
  opacity: 0;
}

.img-wrapper:hover > a.fade {
  opacity: 1;
}

.img-wrapper > a {
  position: absolute;
  background: rgba(255, 255, 255, .4);
  display: flex;
  margin: 0;
  left: 44%;
  top: 70%;
}